<p id="notice"><%= notice %></p>
<h1>Client List</h1>
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Alt email:</strong>
  <%= @client.alt_email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @client.alt_phone %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @client.vet_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<li><%= link_to "Update Client Info", edit_client_path(id: :id_client) %></li>
<%= link_to 'Back', clients_path %>
<h3>Closure/app/views/clients/show.html.erb</h3>
