<%= form_with(model: rdvm, local: true) do |form| %>
  <% if rdvm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% rdvm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :rdvm_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :rdvm_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :rdvm_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :rdvm_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :rdvm_zip %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :rdvm_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :rdvm_phone %>
  </div>


  <div class="field">
    <%= form.label :rdvm_id %>
    <%= form.number_field :vet_id, id: :rdvm_vet_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h3>Closure/app/views/rdvms/_form.html.erb</h3>
