<!DOCTYPE html>
<html>
  <head>
    <title>Closure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <h1>Application.html.erb Template in Layouts</h1>
    <ul>
      <li><%= link_to "Pre-existing RDVMs", rdvms_list_path %> </li>
      <li><%= link_to "Client List", clients_list_path %> </li>
      <li><%= link_to "Pre-existing Pets", pets_list_path %> </li>
      <li><%= link_to "RDVM Contact", new_rdvm_path %> </li>
      <li><%= link_to "New Client", new_client_path %> </li>
      <li><%= link_to "Add a Pet", new_pet_path %> </li>
      <li>link_to "Edit an Artist", artist_path(:artist_id) = links to update action</li>
    <%= render 'partials/errors' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
